body {
    color: rgb(200, 93, 95);
    background-color: ffffff;
    font-family: fantasy;
    font-size: 20px
}

h1 {
    color: rgb(20, 20, 20);
    text-align: center
}

h2 {
    color: rgb(20, 20, 20);
    text-align: center
}
