body {
    color: rgb(200, 93, 95);
    font-family: fantasy;
    font-size: 20px
}

h1 {
    color: rgb(20, 20, 20);
    text-align: center
}

h2 {
    color: rgb(20, 20, 20);
    text-align: center
}

span {
    text-shadow: 1px 1px 
}

.centered {
    margin: 0 auto 0 auto;
    /*this is the same coding as 0 auto 0 auto because the order is margin:top,right,bottom,left
    margin-left:auto;
    margin-right:auto;
*/

    padding: 10px 10px 10px 10px;
    border: 1px solid;
    width: 80%
}

.font {
    font-weight: 500;
    font-size: 24px
}
